<ba-sidebar></ba-sidebar>

<div class="row al-main">
    <div class="col-md-12">
        <div ng-repeat="update in data.updates" ba-panel ba-panel-title="{{update.title}}" ba-panel-class="with-scroll">
            <div class="horizontal-scroll">
                <table class="table table-hover table-condensed" st-table="update.items">
                    <thead>
                    <tr class="sortable">
                        <th class="hide"></th>
                        <th st-sort="name">Channel Name</th>
                        <th st-sort="frequency">Frequency</th>
                        <th st-sort="state">Action</th>
                        <th st-sort="satellite">Satellite</th>
                        <th st-sort="note">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in update.items" class="editable-row">
                        <!--<td><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>-->
                        <td class="hide"></td>
                        <td class="col-md-2 align-center"><img class="sign-img" ng-src="./assets/img/flags/{{item.country}}.png" alt="" title="{{item.country}}"> {{ item.name }}</td>
                        <td class="col-md-1 align-center">{{item.frequency}}</td>
                        <td class="col-md-1 align-center"><a href="#"><img class="sign-img" ng-src="./assets/img/{{item.state}}.png" alt=""></a> {{item.state}}</td>
                        <td class="col-md-2 align-center">{{item.satellite}}</td>
                        <td class="col-md-7 align-center">{{item.package}} {{item.note}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>